<% title  'Admin' + ' - ' + Order.model_name.human.capitalize %>

<div class="container admin-container">
  <h2>Commandes</h2>
  <%= link_to 'Télécharger toutes les factures', all_invoices_path(format: :pdf)%>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Phone</th>
        <th>Delivery location</th>
        <th colspan="2">Status</th>
        <th>Items</th>
        <th colspan="2">Total</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <%= render 'show', order: order %>
    <% end %>
  </table>
  <%= will_paginate @orders %>
</div>
