<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="trail-menu-steps">
        <% if params[:step] == 'menu' %>
          <li class="selected">
        <% else %>
          <li>
        <% end %>
          <span class="big-badge badge-primary">1</span>Choix du menu</li>
          <li>></li>
        <% if Product::CATEGORIES.include?(params[:step]) %>
          <li class="selected">
        <% else %>
          <li>
        <% end %>
          <span class="big-badge badge-primary">2</span>Choix des produits</li>
          <li>></li>
        <% if params[:controller] == 'payments' && params[:action] == 'new' %>
          <li class="selected">
        <% else %>
          <li>
        <% end %>
          <span class="big-badge badge-primary">3</span>Règlement</li>
      </ul>
    </div>
  </div>
</div>
