<% if @order.menus.present? %>
  <%= render 'shared/trails/order', order: @order %>
<% end %>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'products/show', line_item: @line_item, product: product, menu_item: @menu_item %>
      </div>
    <% end %>
  </div>
</div>
