<h2>Article 1 : Champs d’application</h2>

  <p>
  Les présentes Conditions Générales de Vente s'appliquent, sans restriction ni réserve à l'ensemble des produits et services proposés par la société I-LUNCH sur son site internet www.i-lunch.fr. Ces Conditions Générales de Vente sont accessibles à tout moment sur ce site Internet et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire. Les offres de produits s'entendent dans la limite des stocks disponibles. Les indications sur la disponibilité des produits sont fournies au moment de la passation de la commande.
  </p>

<h2>Article 2 : Objet</h2>

  <p>
  La société I-LUNCH propose principalement la vente de produits et services via son site internet www.i-lunch.fr. Son activité est exercée sous le nom “i-lunch”. La société I-LUNCH a pour activité principale la vente de plats cuisinés et d’articles d’épiceries solides et liquides ainsi que de services associés auprès de ces clients du réseau internet des entreprises partenaires.<br />
  L’objet des présentes conditions générales est de définir droits et obligations des parties dans le cadre de la vente de produits et services sur le site internet www.i-lunch.fr. Ces conditions générales s’appliquent sans réserve ni restriction à l’ensemble des produits et services proposés par I-LUNCH sur son site internet www.i-lunch.fr.
  </p>

<h2>Article 3 : Acceptation des conditions générales</h2>

  <p>
  Le client déclare avoir pris connaissance et accepter les présentes CGV avant la passation de toute commande. Toute commande d’un plat sur le site Internet I-LUNCH matérialise l’acceptation expresse des présentes CGV par le client.
  </p>
  <p>
  I-LUNCH se réserve la possibilité d'adapter ou de modifier à tout moment les présentes conditions générales. Les nouvelles conditions générales seront portées à la connaissance du client par leur mise en ligne et seront applicables aux seules ventes réalisées postérieurement à cette mise en ligne. C’est pourquoi, il est conseillé aux clients de consulter régulièrement les conditions générales, afin de se référer à la dernière version en vigueur.<br />
  Les présentes conditions générales sont disponibles uniquement en langue française, cette version étant la seule valable et donc soumises à la loi franç aise et aux normes françaises en vigueur.
  <p>

<h2>Article 4 : Coordonnées de la société</h2>

  <p>Le site internet est édité par la Société par Action Simplifiée I-LUNCH au capital social de 5 000 euros dont le siège social est au 10 rue Waldeck Rochet, 93300 Aubervilliers inscrite au registre du Commerce et des Sociétés de Bobigny sous le numéro 827 971 904 00012.
  Pour contacter I-LUNCH, vous pouvez adresser un courriel à l’adresse suivante :<br />
  contact@i-lunch.fr
  </p>

<h2>Article 5 : Capacité juridique</h2>

  <p>Les clients déclarent être majeurs et en pleine capacité pour contracter avec I-LUNCH.</p>

<h2>Article 6 : Produits</h2>
  <p>
  Le client ayant passé commande déclare avoir pris connaissance des détails, de la préparation et des ingrédients indiqués dans les onglets « description », « nutrition », «infos allergies » et « ingrédients » sur le site internet.
  </p>
  <p>
  I-LUNCH se réserve le droit de modifier à tout moment le contenu de ses plats et d’en avertir le client via l’onglet « ingrédients » et « infos allergies ».
  </p>
  <p>
  Les renseignements mentionnés sur chaque page produit sont ceux communiqués à I-LUNCH par les fournisseurs de ces dits produits. I-LUNCH n’intervient pas dans la réalisation ou la conception de ces renseignements et ne pourra être tenue pour responsable de toute conséquence liée à ces informations.
  </p>
  <p>
  Il appartient au client de se renseigner sur ses propres allergies ou intolérance à certains produits et à rechercher les traces de ces produits dans l’onglet « ingrédients » et « infos allergies » ou auprès de nos services. Cela inclut les produits non facturés comme les cadeaux ou échanges, etc. I-LUNCH ne pourra être tenu responsable des conséquences de la non prise en compte de ces informations par le client lors de son achat.
  </p>
  <p>
  Les photographies, graphismes et les descriptions des produits proposés sur le site sont à titre indicatif et ne sont donc pas contractuelles. I-LUNCH s’engage à ce que la représentation photographique des produits ou services sur le site Internet soit la plus fidèle possible aux produits ou services en eux-mêmes. Toutefois, eu égard au mode de présentation numérique des produits ou services, il est possible que la perception par le client de la représentation photographique des produits ou services ne corresponde pas exactement au produit ou service en lui-même, ce que le client admet et reconnaît.
  </p>
  <p>
  I-LUNCH se réserve l’entière liberté de l’offre proposée sur le site www.i-lunch.fr. A ce titre, I-LUNCH est susceptible de modifier à tout moment l’assortiment de produits et services proposés à la vente sur son site internet sans en informer au préalable le client et sans préjudice des commandes passées par le client.
  </p>
  <p>
  Les produits sont conformes à la législation française en vigueur.
  </p>

<h2>Article 7 : Disponibilité des produits et services</h2>

  <p>Les offres présentées par I-LUNCH sont valables tant qu’elles sont annoncées à la vente et dans la limite des stocks disponibles.
  </p>
  <p>
  En cas d’indisponibilité d’un ou plusieurs produits ou services après passation de la commande, le client sera averti par e-mail ou par téléphone. Le montant de sa Commande sera recalculé et le client sera débité du nouveau montant, diminué des produits manquants. Si la Commande est entièrement indisponible le client ne sera pas débité ou remboursé le cas échéant. En aucun cas I-LUNCH ne pourra être tenu responsable d’aucun préjudice subi par le client, ni tenu à aucun dommages et / ou intérêts.
  </p>
  <p>
  La consultation du site internet de I-LUNCH est normalement accessible par le client 24 heures sur 24, 7 jours sur 7 et ce toute l’année excepté en cas d’interruption volontaire ou non, peu importe la cause. Il pourra notamment s’agir de maintenance. Etant par son activité tenue à une obligation de moyen, la société I-LUNCH ne pourra être tenue responsable de tout préjudice physique, matériel ou moral causé par l’indisponibilité du site.
  </p>
  <p>
  Le service d’achat et de livraison d’articles sur le site internet est limité aux entreprises partenaires et aux horaires de livraison contractuellement validées et peut donc varier. Ces horaires sont définis au préalable avec l’entreprise partenaire et indiquées avant la validation de la commande.
  </p>

<h2>Article 8 : Prix</h2>

  <p>
  L’offre de I-LUNCH est exprimée en euros toutes taxes comprises (€TTC) en tenant compte du taux de TVA applicable au jour de la commande. I-LUNCH se réserve le droit de modifier ses tarifs à tout moment et sans préavis en cas de changement du taux de TVA applicable.Pour toute autre modification tarifaire, I-LUNCH devra au préalable valider un changement de tarification avec l’entreprise partenaire. Les produits sont facturés sur la base des tarifs en vigueur au jour de la commande et préalablement négociés avec l’entreprise partenaire.
  Le client déclare avoir pris connaissance du prix indiqué sur le site web et mentionné dans son panier lors de la commande et en accepte la charge.
  </p>
  <p>
  Par ailleurs, les frais de livraison sont indiqués dans le récapitulatif de commande sous le libellé « frais de livraison».
  </p>

<h2>Article 9 : Commande et paiement</h2>

  <p>
  Le client peut commander sur le site internet www.i-lunch.fr si son entreprise est partenaire. Le Client doit sélectionner un ou plusieurs plats proposés, valider la commande, et payer celle-ci en ligne selon les moyens de paiement proposés par I-LUNCH. Le paiement par carte bancaire sera réalisé par le biais d’un système fiable et sécurisé. Lorsque le client confirme sa commande en cliquant sur l’icône « Paiement », il est considéré comme ayant accepté en connaissance de cause le contenu et les conditions de la commande en cause et en particulier les présentes conditions générales, les prix, caractéristiques, quantités et délais de livraison des produits proposés à la vente et commandés par le client. I-LUNCH confirmera ensuite cette commande par l’envoi d’un courrier électronique au client. En outre, I-LUNCH se réserve le droit de suspendre ou d’annuler toute exécution d’une Commande et/ou livraison, quelle que soit sa nature et niveau d’exécution, en cas de défaut de paiement ou paiement partiel de toute somme qui serait due par le client, en cas d’incident de paiement, ou en cas de fraude ou tentative de fraude relative à l’utilisation du site internet de I-LUNCH, y compris à l’occasion de commandes antérieures.<br />
  En cas d’erreur de saisie de l’adresse de messagerie électronique concernée, ou de non réception du message électronique de confirmation de commande, la responsabilité de I-LUNCH ne saurait être engagée. Dans ce cas la vente sera considérée comme définitive, hors les cas d’annulation de la commande par I-LUNCH, notamment pour indisponibilité des produits.<br />
  I-LUNCH se réserve également le droit d’annuler une commande ou de la suspendre pour des motifs internes (rupture de stocks, perturbation du service logistique, etc.), le client sera remboursé des frais engagés sur cette commande mais ne pourra prétendre à aucune indemnisation.
  </p>
  <p>
  Pour passer commande, le client devra au préalable se créer un compte et choisir un identifiant et un mot de passe, à conserver de manière strictement confidentielle, auxquels il associe son prénom, une adresse de livraison précise et un numéro de téléphone opérationnel afin de permettre au livreur de I-LUNCH de livrer la commande dans les meilleurs conditions. A cette fin, le client s’engage à fournir des informations sincères, véritables et à jour au moment de la prise de commande. I-LUNCH ne saurait être tenu pour responsable des conséquences résultant de données erronées ou incomplètes, notamment dans les coordonnées du destinataire, les quantités et type de produits commandés, ou le compte à débiter.
  </p>
  <p>
  Les registres informatisés de I-LUNCH seront considérés par I-LUNCH et le client comme preuve des communications, des commandes, des paiements et des transactions intervenues entre les parties.
  </p>

<h2>Article 10 : Livraison</h2>

  <p>
  La livraison des produits du site www.i-lunch.fr est proposée uniquement à l’adresse des entreprises partenaires (ci-après “zone de livraison I-LUNCH”), durant les horaires de commande et aux horaires de livraison validées au préalable avec les entreprises partenaires (ci-après “horaires de livraison”). Pour des raisons logistiques, les commandes ou ventes en dehors de cette zone de livraison I-LUNCH ou en dehors des horaires de livraison ne pourront être prises en compte.<br />
  La liste des entreprises partenaire est référencée sur le site www.i-lunch.fr via le menu déroulant dans “livraison” et est mise à jour régulièrement. Il n’est pas possible de passer commande hors de la dite zone de livraison I-LUNCH. Si une commande était malencontreusement validée par le site www.i-lunch.fr tout en ne correspondant pas à la zone de livraison I-LUNCH, I-LUNCH se réserve le droit d’annuler et de rembourser la commande au client.
  </p>

<h2>Article 11 : Conservation et responsabilités</h2>

  <p>
  I-LUNCH livre l’intégralité de ses produits froids et s’engage à en assurer la bonne conservation lors du transport de la marchandise. Le client s’engage après livraison à assurer la bonne conservation de ses produits (au frais entre 0 et 3°C) et à les consommer avant la date indiquée sur l’emballage. En cas de non étiquetage de la Date Limite de Consommation, le client s’engage à recueillir l’information auprès de I-LUNCH et par défaut ne pas consommer les produits plus de 3 jours après leur livraison.<br />
  I-LUNCH ne pourra en aucun cas être tenu responsable en cas de dommages corporels et/ou immatériels et/ou matériels pouvant résulter de la négligence du client après livraison. Dans l’hypothèse où la responsabilité de I-LUNCH serait établie pour un préjudice subit par le client et imputable uniquement à la passation d’une commande, cette responsabilité serait limitée au montant payé par le client pour la commande concernée.<br />
  I-LUNCH ne pourra être tenu responsable de la détérioration des produits dûe à la négligence du client et/ou la mauvaise conservation des produits après leur livraison.<br />
  Le détérioration des produits dûe au non-respect des indications de réchauffage mentionnées sur l’emballage ou à défaut sur le site web ne pourra engager la responsabilité de I-LUNCH.
  </p>
  <p>
  Toute question ou réclamation concernant les produits livrés devra être faite dans un délai maximum de vingt-quatre (24) heures après leur livraison par courriel, à contact@i-lunch.fr.
  Passé ce délai, aucune question ni aucune réclamation ne pourra être prise en compte.
  </p>

<h2>Article 12 : Conservation et responsabilités</h2>

  <p>
  En vertu de l’Article L121-21-8 Créé par LOI n°2014-344 du 17 mars 2014 - art. 9 (V), le droit de rétractation ne peut être exercé pour les contrats de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement, ce qui inclut la vente de produits alimentaires.<br />
  Les produits vendus par I-LUNCH ne sont donc ni repris, ni échangés, sauf en cas d’erreur imputable à I-LUNCH notamment la livraison de produits ne correspondant pas à la commande du client.
  </p>

<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
