<% title "Mentions légales - iLunch" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-sm-offset-3 text-center">
          <div class="text-center header">
            <h1>Questions fréquentes</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <ul class="menu-static-pages">
            <li><%= link_to 'FAQ', pages_path('faq') %></li>
            <li><%= link_to 'Mentions légales', pages_path('terms') %></li>
            <li><%= link_to 'Conditions générales', pages_path('cgv') %></li>
          </ul>
        </div>
        <div class="col-xs-9">

          <h2 class="section-title">Nos plats et vous</h2>

          <h2>D’où viennent ces recettes originales ?</h2>

            <p>
              Notre chef Mélina a imaginé toutes les recettes i-lunch. Elle y a apporté sa créativité et sa touche personnelle. Ces recettes ont été ensuite testées par des bêta-testeurs qui les ont approuvées.
            </p>

          <h2>Les plats sont-ils livrés chauds ou froids ?</h2>

            <p>
            Tous nos plats sont cuisinés le jour même. Puis nous les refroidissons pour vous livrer froid.
            Nous avons fait ce choix car nous voulons éviter la sur-cuisson avant la livraison et cela permet de préserver le goût de nos aliments bien frais.<br />
            Il vous suffit de les réchauffer au micro-ondes le temps indiqué sur la barquette (environ 2-3 min).
            </p>

          <h2>Où se trouve la liste des ingrédients et des allergènes présents dans un plat ? </h2>

            <p>
            Vous pouvez les trouver en cliquant sur le plat.
            Pas de surprise vous n’aurez ni plus ni moins que ce qui est indiqué.
            </p>

          <h2>J’ai un régime particulier (végétarien, sans lactose, vegan, sans gluten) est-ce qu’i-lunch me convient ?</h2>
            <p>
            Nous avons à coeur  de répondre aux besoins de tous. C’est pourquoi nous proposons chaque jour deux plats différents, un plat à base de viande et un plat végétarien ou vegan.
            A terme, nous souhaitons étoffer notre offre afin de contenter le plus de monde possible. Lorsque le plat est adapté à un régime spécifique, nous l’indiquons sur la fiche recette.
            </p>

          <h2>Si je veux vous remercier car grâce à vous je mange mieux et je me sens bien ?</h2>

            <p>
            Notre brigade sera ravie ! Vous pouvez leur écrire à contact@i-lunch.fr et leur envoyer les photos de vos plats ! Et si au contraire vous n’êtes pas satisfait du plat du jour, n’hésitez pas à le faire savoir. La brigade est preneuse de toutes remarques même les moins bonnes !
            </p>


          <h2 class="section-title">Commande</h2>

          <h2>Y a t-il un montant de commande minimum ?</h2>

            <p>
            Non il n’y a aucun minimum de commande. Nous vous livrons ce que vous désirez, même un yaourt, à l’heure convenue avec votre entreprise.
            </p>

          <h2>Mon entreprise n’est pas partenaire d’i-lunch, puis-je commander ?</h2>

            <p>
            Pour pouvoir passer commande sur la plateforme i-lunch, il faut au préalable que votre entreprise soit partenaire. Si ce n’est pas encore le cas, n’hésitez pas à nous contacter ou à nous mettre en relation avec votre chief of happiness, votre RH, votre employeur... par email miam@i-lunch.fr.
            </p>

          <h2>Dois-je créer un compte pour pouvoir passer commande ?</h2>

            <p>
            Oui. Pour pouvoir passer commande il faut au préalable vous enregistrer et sélectionner votre adresse de livraison parmis les entreprises partenaires.
            </p>

          <h2>Combien de temps à l’avance puis-je passer commande ?</h2>

            <p>
            Vous pouvez passer commande sur notre site internet la veille à partir de 14h.
            </p>

          <h2>Où et comment puis-je récupérer ma facture ?</h2>

            <p>
            Votre facture est disponible dans le mail de confirmation de votre commande en pièce-jointe.
            </p>

          <h2>Après avoir finalisé et payé ma commande, je n’ai pas reçu d’email de confirmation. Est-ce normal ?</h2>

            <p>
            Vous recevez automatiquement un mail de confirmation de commande (avec votre numéro de commande). Vous pourrez également voir votre commande dans l’historique de commande (via l’onglet “Mon compte”).
            Si ce n’est pas le cas ou si vous avez le moindre doute, n’hésitez pas à contacter notre service client : contact@i-lunch.fr !
            </p>

          <h2>Après avoir finalisé ma commande et au moment du paiement, on m’indique que mon produit n’est plus disponible ?</h2>

            <p>
            Il est possible qu’entre le moment où vous avez sélectionné le plat et le moment où vous accédez à la page de paiement que le produit souhaité ne soit plus en stock. Un produit est destocké dès lors que le paiement est validé.
            </p>

          <h2 class="section-title">Livraison</h2>

          <h2>Dans quelle zone livre i-lunch ?</h2>

            <p>
            La livraison des produits du site www.i-lunch.fr est proposée uniquement à l’adresse des entreprises partenaires durant les horaires de commande et aux horaires de livraison validées au préalable avec les entreprises partenaires. Pour des raisons logistiques, les commandes ou ventes en dehors de cette zone de livraison I-LUNCH ou en dehors des horaires de livraison ne pourront être prises en compte.
            La liste des entreprises partenaires est référencée sur le site www.i-lunch.fr via le menu déroulant dans “livraison” et est mise à jour régulièrement. Il n’est pas possible de passer commande hors de ladite zone de livraison I-LUNCH.
            </p>

          <h2>Est-ce que la livraison est payante ?</h2>

            <p>
              Les frais de livraison sont gratuits. Il n’y a pas de supplément.
            </p>

          <h2>Est-ce possible de choisir l’heure de livraison ?</h2>

            <p>
            L’heure de livraison est fixée directement avec l’entreprise partenaire. Chaque entreprise est livrée chaque jour à la même heure. Les commandes doivent être passée avant 12h. Le créneau de livraison est de 30 minutes et peut être : 12h-12h30 ; 12h15-12h45 ; 12h30-13h ; 12h45-13h15 ; 13h-13h30 et 13h15-13h45.
            Le créneau de livraison est validé au préalable avec l’entreprise partenaire.
            </p>

          <h2>Comment suis-je informé de l’arrivée du livreur ?</h2>

            <p>
            Lorsque votre livreur est en route, vous recevez un SMS qui vous indique l’heure approximative de livraison. Vous recevez un deuxième SMS qui vous invite à descendre lorsque votre livreur est sur le point d’arriver.
            Si vous ne recevez pas de textos, un bug a pu survenir et votre livreur est probablement déjà en route.
            </p>

          <h2>Quels sont les moyens de paiement acceptés ?</h2>

            <p>Nous acceptons les paiements par carte bancaire (Visa, Mastercard, American Express).</p>

          <h2>Est-il possible de payer directement le livreur ?</h2>

            <p>
            Les livreurs ne peuvent pas recevoir de paiement. Ni en espèce ni en carte bleue. Tous les paiements sont effectués directement en ligne afin de confirmer la commande.
            </p>

        </div>
      </div>
    </div>
  </div>
</div>

