<div id="company-show">
  <p>
    <strong><%= @order.company.name %></strong> (<a href="#" id="edit-company-btn">modifier</a>)<br />
    <%= @order.company.street %><br />
    <%= @order.company.post_code %><br />
  </p>
</div>
