/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
a {
  color: $brand-color;
}
a:hover, a:active, a:focus {
  color: darken($brand-color, 10%);
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.pagination {
  display: block;
  margin: 20px auto;
}

.content {
  padding: 50px 0;
}
// Forms
select option:first-child {
  color: #aaa;
}
label abbr {
  display:none;
}
.checkbox {
  margin: 0;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 40px;
}
.has-error .form-control {
  border-color: $brand-danger;
}
.help-block, .has-error .help-block:nth-child(3) {
  font-size: 13px;
  color: #888;
  a {
    color: #888;
    text-decoration: underline;
  }
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,
.has-error.checkbox-inline label {
  // color: #d01b18
  color: $brand-danger;
}

// Links
.green-link {
  color: #2b9a19;
  text-decoration: underline;
  &:hover {
    color: darken(#2b9a19, 10%);
  }
}

.circle {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  color: #fff;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0 0 3px 1px;
  background-color: $brand-color;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken($brand-color, 10%);
  }
}

.payment-form {
  .stripe-button-el {
    box-shadow: unset;
    padding: 0;
    span {
      border-radius: 3px;
      padding: 0px 20px;
      min-height: 40px;
      height: 40px;
      line-height: 40px;
      background: $brand-color;
      font-size: 14px;
      text-shadow: unset;
      text-transform: uppercase;
      &:hover {
        background: darken($brand-color, 10%);
      }
      &:active {
        background: darken($brand-color, 10%);
      }
    }
  }
}
