/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
a {
  color: $brand-color;
}
a:hover, a:active, a:focus {
  color: darken($brand-color, 10%);
}
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.pagination {
  display: block;
  margin: 20px auto;
}

.content {
  padding: 50px 0;
}
// Forms
label abbr {
  display:none;
}
.checkbox {
  margin: 0;
}
.help-block {
  font-size: 13px;
  color: #888;
  a {
    color: #888;
    text-decoration: underline;
  }
}

.payment-form {
  .stripe-button-el {
    box-shadow: unset;
    padding: 0;
    span {
      border-radius: 3px;
      padding: 0px 20px;
      min-height: 40px;
      height: 40px;
      line-height: 40px;
      background: $brand-color;
      font-size: 14px;
      text-shadow: unset;
      text-transform: uppercase;
      &:hover {
        background: darken($brand-color, 10%);
      }
      &:active {
        background: darken($brand-color, 10%);
      }
    }
  }
}
