/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert-flash {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
  color: #fff;
}
.alert-warning {
  background: $red;
  color: #fff;
}
.alert {
  margin: 0;
}
.error {
  color: #a94442 ;
}
