/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert-flash {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
  color: #fff;
}
.alert-warning {
  background: $red;
  color: #fff;
}
.alert-danger {
  color: $brand-danger;
}
.alert {
  margin: 0;
}
.error {
  color: #a94442 ;
}
.error-link {
  color: #a94442 ;
  &:hover{
      color: #a94442 ;
      text-decoration: none;
  }
}
