.card, .card-no {
  position: relative;
  margin-bottom: 15px;
}
.card-no {
    border: 1px solid #e4e4e4;
    height: 422px;
    border-radius: 3px;
  .card-bg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.card-bg {
  height: 250px;
  background-size: cover !important;
  background-position: center;
  border-radius: 3px 3px 0 0;
  h3 {
    margin: 0;
  }
}
.no-stock {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  small {
    font-weight: normal;
  }
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
}
.card-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #e4e4e4;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.card-description {
  height: 115px;
  h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
}
.card-cta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .price {
    font-size: 24px;
    margin: 0;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.menu-card {
  .card-description {
    h3 {
      margin: 10px 0;
      font-weight: bold;
    }
  }
}
