.form-inputs {
  padding-top: 20px;
}
.form-actions {
  p {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    padding-top: 15px;
  }
  .btn {
    margin-bottom: 30px;
  }
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 40px;
}
input[type]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
}
input[type]::-moz-placeholder { /* Firefox 19+ */
  color: #888;
}
input[type]:-ms-input-placeholder { /* IE 10+ */
  color: #888;
}
input[type]:-moz-placeholder { /* Firefox 18- */
  color: #888;
}
.select, .date{
  color: #888;
  option {
    color: black;
    &:first-child{
      color: #000;
    }
  }
}
.selected {
  color: #000;
}

label abbr {
  display:none;
}
.checkbox {
  margin: 0;
}
.has-error .form-control {
  border-color: $brand-danger;
}
.help-block, .has-error .help-block:nth-child(3) {
  font-size: 13px;
  color: #888;
  a {
    color: #888;
    text-decoration: underline;
  }
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,
.has-error.checkbox-inline label {
  // color: #d01b18
  color: $brand-danger;
}

#sign-up .form-actions .btn {
  margin-bottom: 0;
}
