.metrics-list {
  display: flex;
  flex-direction: row;
}

.metric {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
}

.number{
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}
