.resource-list {
  width: 100%;
  thead {
    th {
      border-color: #7b808c;
    }
  }
  td, th {
    border-bottom: 1px solid #dfe0e1;
    padding: 10px;
  }
  tbody tr:hover {
    background-color: lighten($brand-color, 55%);
  }
}

.orders {
  list-style-type: none;
  padding: 0;
  .order {
    border-bottom: 1px solid #ededed;
    a {
      display: inline-block;
      padding: 15px 10px;
      width: 100%;
      strong {
        text-transform: uppercase;
        color: #555;
      }
      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .line-item {
    display: none;
  }
}

.line-items {
  width: 100%;
  font-size: 14px;
  tbody {
    tr td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }
    td td {
      border: none;
      padding: 0 10px;
      &:first-child {
        padding: 0;
      }
    }
    .line-item-product {
      font-size: 16px;
      td:first-child {
        padding-left: 0
      }
      td:nth-child(2) {
        padding-right: 0;
      }
      td:last-child {
        text-align: right;
      }
    }
    .line-item-menu {
      font-size: 16px;
      td {
        padding-top: 20px;
        padding-bottom: 20px;
        &:first-child {
          padding-left: 0px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
    .menu-item {
      table td:first-child div{
        display: flex;
        align-items: center;
      }
      .fa {
        margin-right: 10px;
      }
    }
  }
  .vat-price {
    font-size: 14px;
    text-align: right;
    td {
      padding: 10px;
    }
  }
  .total-price {
    font-size: 20px;
    text-align: right;
    td {
      padding: 10px;
    }
    td:first-child {
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
