<% if products.present? %>
  <div id="products">
    <% products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'products/show', product: product %>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="products" style='height: 411px; width: 100%; background-color: #efefef; display: flex; justify-content: center; align-items: center;'>
    Désolé, le service iLunch n'est encore pas disponible à cette date.
  </div>
<% end %>
