<div class="navbar-admin">
  <ul>
    <li><%= link_to 'customers', admin_users_path %></li>
    <li><%= link_to 'products', admin_products_path %></li>
    <li><%= link_to 'orders', admin_orders_path %></li>
    <li><%= link_to 'companies', admin_companies_path %></li>
  </ul>
</div>
